.panel.panel-default
  .panel-body
    = asset.title
    / =render '/tags/list', asset_type: asset_type, asset: asset, tags: @tags
    %button.btn.btn-default.pull-right.asset-resume{"data-asset-id" => "#{asset.id}", "data-asset-type" => "#{asset_type}", "title"=>"Add to Resume", "current_user_id" => current_user.id}
      %span.glpyphicon.glyphicon-plus{"aria-hidden"=>"true"}
