.panel.panel-default{"id" => "Skill_#{asset.id}"}
  .panel-heading
    .row
      .col-md-10.col-sm-10
      .col-md-2.col-sm-2.button-col
        -if current_url.include?("asset")
          %button.btn.btn-default.pull-right.asset-resume{"data-asset-id" => "#{asset.id}", "data-asset-type" => "#{asset_type}", "title"=>"Add to Resume", "current_user_id" => current_user.id}
            %span.glpyphicon.glyphicon-plus{"aria-hidden"=>"true"}
  .row
    .panel-body
      %p= asset.title
