.panel.panel-default{"id" => "Skill_#{asset.id}"}
  .panel-heading
    .row
      .col-md-10.col-sm-10
      .col-md-2.col-sm-2.button-col
        = render "/assets/button_row", asset: asset, asset_type: asset_type
  .row
    .panel-body
      %p= asset.title
