.panel.panel-default
  .panel-heading
    .row
      .col-md-10.col-sm-10
        %strong= asset.title
      .col-md-2.col-sm-2
        = render "/assets/button_row", asset_type: asset_type, asset: asset
  .row      
    .panel-body.col-md-12.col-sm-12
      %p= asset.description
      %ul
        - asset.descriptions.each do |description|
          %li= description.detail
