.btn-group{"data-toggle" => "buttons"}
-@tags.each do |tag|
  %label.btn.btn-primary
    - if is_tagged?(asset, tag)
      - tagging_id = get_tagging_id(asset, tag)
      %input{:autocomplete => "off", :checked => "true", :class=> "asset-tag", :type => "checkbox", "data-tagging-id" => "#{tagging_id}"}
        =tag.name
    - else
      %input{:autocomplete => "off", :class=> "asset-tag", :type => "checkbox", "data-asset-type" => "#{asset_type}", "data-asset-id" => "#{asset.id}", "data-tag-id" => "#{tag.id}"}
        =tag.name

