.row
  .col-m-12.col-s-12.text-center
    .btn-group{role: "group"}
    -@tags = all_tags
    -@tags.each do |tag|
      %button.btn.btn-default.tag-button
        =tag.name



- @assets.each do |key, values|
  %h2
    =key.capitalize
  -values.each do |asset|
    =render "/#{key}/show", asset_type: key, asset: asset, tags: @tags
