%h1.text-center Create a new Asset
.row
  .col-md-12.col-sm-12.text-center
    .btn-group{role: "group"}
      -@asset_types.each do |asset_type|
        %button.btn.btn-default.asset-type-button{href: "/users/#{current_user.id}/#{asset_type}/new"}
          =asset_type.capitalize
.row
  .col-md-6.col-sm-6.col-centered{id: "form-container"}
