.page-header.text-center
  %h4
    Click an asset type to add a new asset.
    %p


-tag_names = all_tag_names
%div#tag-names{"data-tag-names" => tag_names.to_json}

.row
  .col-md-12.col-sm-12.text-center
    .btn-group{role: "group"}
      -@asset_types.each do |asset_type|
        %a.btn.btn-default.asset-type-button{href: "/users/#{current_user.id}/#{asset_type}/new"}
          =asset_type.capitalize
.row
  .col-md-6.col-sm-6.col-centered#form-container
  .saved
    %h3.text-center Asset Saved. &nbsp; Add another?

=link_to user_resumes_path, class: "btn-default onwards-floater floater-right" do
  %i.fa.fa-angle-right.fa-4x


=link_to user_resume_path(current_user, session[:new_resume_id]), class: "btn-default onwards-floater floater-left" do
  %i.fa.fa-angle-left.fa-4x

