.row
  .col-md-3.col-sm-6
    .thumbnail
      =image_tag "gary.png"
      .caption
        %h5 Gary Wong
        %p Sorting Genuis
  .col-md-3.col-sm-6
    .thumbnail
      =image_tag "lindsey.png"
      .caption
        %h5 Lindsey Ullman
        %p RSpec Master
  .col-md-3.col-sm-6
    .thumbnail
      =image_tag "david.png"
      .caption
        %h5 David Rothschild
        %p Tag Wizard
  .col-md-3.col-sm-6
    .thumbnail
      =image_tag "roche.png"
      .caption
        %h5 Roche Janken
        %p The Glue