

.row
  .col-md-3
  .col-md-3.col-sm-3.pull-center
    %h3#animation-header Turn this resume:
    #long-paper.paper
      .name
        Nom de Plume
        %i.fa.fa-frown-o
  .col-md-5.col-md-5
    %h2 ModResume is a Resume organizer.
    %ul
      %li
        %h4 Add your experience

      %li
        %h4 Tag as you go

      %li
        %h4 When you need a new resume, select by tag, fine tune and send!



