

.row
  .col-md-3.col-sm-3.pull-center
    %h3#animation-header Turn this resume:
    #long-paper.paper
      .name
        Nom de Plume
        %i.fa.fa-frown-o
  .col-md-9.col-md-9
    %h1 ModResume is a resume organizer.

    %h5 1) Add your experience

    %h5 2) Tag as you go

    %h5 3) When you need a new resume, select by tag, fine tune and send!



