.row.text-center
  %h2 ModResume is a Resume organizer.
  %p
  Add your experience.  Tag as you go. When you need a new resume, select by tag, fine tune and send!
  %br
  %br
.row.text-center
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/39mq8h1I1PQ", :width => "560"}



