%h2.text-center Welcome!

.row
  .col-md-3
  .col-md-3.col-sm-3.pull-center
    %h3 Turn this resume:
    #long-paper.paper
      .name Nom de Plume
  .col-md-3.col-sm-3.pull-center
    %h3 Into this!
    #short-paper-outer
      #short-paper.paper
        .name Nom de Plume
