//ASSET SHOW PARTIALS
.panel
  margin-bottom: 5px
  text-align: left

.panel-body
  padding: 5px
  text-align: left

.panel-heading
  padding: 2px
  text-align: left
  min-height: 15px
  background-color: #00b8e6

ul
  margin-bottom: -2px
  margin-top: -5px

li
  font-size: 1em
  margin: 0px
  padding: 0px 0px 0px 4px

.asset-resume
  vertical-align: middle

//END ASSET SHOW PARTIALS

//RESUME SHOW PAGE

.asset-portlet
  background-color: grey

.asset-portlet-header
  text-align: left

.resume-middle-split-content
  height: 450px
  background-color: white
  border: 1px dashed grey
  padding: 4px

.resume-top-content
  height: 150px
  background-color: white
  border: 1px dashed grey
  padding: 4px

.resume-template
  height: 700px
  background-color: grey

.library
  height: 700px
  background-color: #cceeff

.resume-header
  height: 100px
  background-color: white
  border: 1px dashed grey
  text-align: left

//END RESUME SHOW PAGE

.col-centered
  float: none
  margin: 0 auto
