

.panel{
  margin-bottom: 5px;
}

.panel-body{
  padding: 2px;
}

.panel-heading{
  padding: 2px;
}

.resume-middle-content{
  height: 400px;
  background-color: white;
  border: 1px solid black;
}

.resume-top-content{
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.resume-template{
  height: 700px;
  background-color: grey;
}

.resume-header{
  height: 100px;
  background-color: white;
  border: 1px solid black;
  text-align: left;
}

.ui-state-default{
  border: 0px;
}

#sortable{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#sortable li {
  margin: 0 3px 3px 3px;
  /*padding: 0.4em;*/
  padding-left: 1.5em;
  font-size: 1em;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
