body
  font-family: 'Lato'
  background-color: #E5E5E5

.navbar
  position: relative
  height: 150px
  margin-bottom: 0px

.navbar-inner
  background-image: url('nav.png')
  width: 100%

.navbar-nav
  margin-top: 95px

.navbar-brand
  font-family: 'Poiret One'
  font-size: 5em
  margin-top: 1em

.navbar-default
  .navbar-nav
    li
      a
        color: white

.navbar-default
  .navbar-brand
    color: white

.navbar-default
  .navbar-text
    color: white

.bottom-image
  height: 125px
  background-image: url('navbottom.png')
  margin-top: 0px

.all-content
  position:absolute
  top: 110px




.login-input
  margin-bottom: .5em

.login-submit
  float: right
  margin-right: 10px

#form-container
  margin-top: 1em
