body
  font-family: 'Lato'
  font-weight: 300
  // background-color: #CED7E3
  background-color: #f5f7ff
  background-image: url("http://www.transparenttextures.com/patterns/beige-paper.png")
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */



//NAVBAR
nav
  position: relative
  height: 150px
  background-image: url('http://img06.deviantart.net/ab92/i/2012/045/8/2/texture__blue_paper_by_awesomestock-d4pqzkx.png')

a
  color: #FFB200

a:hover
  color: #946100
  text-decoration: none

.nav-left
  height: 150px
  font-family: 'Poiret One'
  font-size: 5em
  margin-top: 1em

.nav-right
  height: 150px

.nav-links
  width: 100%

nav
  table
    margin-top: 7em
    font-size: 1.3em
    font-weight: 300
  td
    padding-left: 4%
    color: #FFB200

.login-form
  margin: 7em 0 0 17em

#user

// END NAVBAR
// RESUME INDEX PAGE

#resume-target-job
  width: 40%
.table-white
  background-color: white

// END RESUME INDEX PAGE
// ASSET INDEX PAGE
.asset-check-box
  display: inline

a.tag-button
  color: black

.button-selected
  background-color: #FFB200

.onwards-floater
  z-index: 100
  text-decoration: none
// END ASSET INDEX PAGE
// NEW ASSET PAGE
.saved
  display: none

#form-container
  margin-top: 1em
  display: none

#form-container-edit
  margin-top: 1em


.ui-widget
  z-index: 100

#tag-names
  visibility: hidden


#input-full-width
  width: 85%
  margin-bottom: 10px

#experience_details__detail
  @extend #input-full-width

#education_details__detail
  @extend #input-full-width

#project_details__detail
  @extend #input-full-width

#volunteering_details__detail
  @extend #input-full-width

#skill_details__detail
  @extend #input-full-width

.tag-input
  height: 34px
  width: 100%



// END NEW ASSET PAGE
