.paper
  margin-top: 1em
  background-color: white
  background-image: url('https://images1.pixlis.com/background-image-horizontal-lines-and-stripes-seamless-tileable-black-white-22hkv7.png')
  font-size: 1.1em

.name
  height: 20px
  background-color: white
.name
  i
    font-size: 1.3em
    float: right
    margin: 1px 2px 0px 0px
#long-paper
  border: 1px solid black
  height: 700px
  width: 200px

.fa-smile-o
  color: blue

.fa-frown-o
  color: red
