.paper
  margin-top: 1em
  background-color: white
  background-image: url('stripe.png')
  font-size: 1em

.name
  height: 20px
  background-color: white
#long-paper
  border: 1px solid black
  height: 240px
  width: 200px

#short-paper-outer
  border: 1px solid black
  height: 240px
  width: 200px
  background-color: white

#short-paper
  margin: 10px
  height: 220px
  width: 180px



