%h1 Educations

.educations_list
  - @educations.each do |obj|
    %br
    .education
      Description:
      = obj.institution_name
      %br
      Location:
      = obj.location
      = obj.completion
      %br
      %br
      tags
      - obj.descriptions.each do |item|
        %br
        = item.detail
