-@asset_types = asset_types
-@asset_types.each do |asset_type|
  .asset-portlet
    - if (asset_header == true)
      .asset-portlet-header=asset_type_grammar(asset_type)
    .nested-sort
      .asset-portlet-content
      -@assets["#{asset_type}"].each do |asset|
        - if (asset.div_sort == div_section)
          =render "#{asset_type}/show", asset_type: "#{asset_type}", asset: asset.buildable, asset_descriptions: asset.descriptions
