
%button.btn.btn-primary{type: "button"} Add New Resume

.panel.panel-default
  .panel-heading
    .panel-title
      %h3 Your Resumes
  %table.table.table-hover
    %tr
      %th Resume For:
      %th Last updated:
    - @resumes.each do |resume|
      %tr
        -# =link_to 'Resume', resume
        %td= link_to resume.target_job, user_resume_path(user_id: current_user.id, id: resume.id)
        %td= resume.updated_at.to_datetime.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y  %l:%M %p")
        %td Edit Assets
        %td Edit Text
        %td= link_to 'Delete', user_resume_path(user_id: current_user.id, id: resume.id), method: :delete

