.page-header.text-center
  %h4#dashboard-instructions
    Edit existing resume or &nbsp;
    %button.btn.btn-default#new-resume-button{type: "button"} Add New Resume
  %div#new-resume-form
.row
  .col-md-10.col-sm-10.col-centered
    %h2 Your Resumes
.row
  .col-md-10.col-sm-10.col-centered
    %table.table.table-hover.table-white
      %tr
        %th Resume For:
        %th Last updated:
        %th
        %th
        %th
      - @resumes.each do |resume|
        %tr
          %td= link_to resume.target_job, user_resume_path(user_id: current_user.id, id: resume.id)
          %td= resume.updated_at.to_datetime.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y  %l:%M %p")
          %td=link_to 'Edit Asset', edit_user_resume_path(current_user.id, resume.id)
          -# %td=link_to 'Edit Text', user_resume_fine_tune_path(resume)
          %td= link_to 'Delete', user_resume_path(user_id: current_user.id, id: resume.id), method: :delete
